body, html {
	height: 100%;
	scroll-behavior: smooth; /* плавная прокрутка */
}

html {
	position: relative; /* ↓ */
	overflow-x: hidden; /* запрет прокрутки при открытии модальных окон */
}

body {
	position: relative; /* ↓ */
	overflow-x: hidden; /* запрет прокрутки при открытии модальных окон */
	height: auto; /* убирает дополнительный вертикальный у body, добавляемый предыдущим свойством */
	color: var(--colorBlack); /* default color */
	background-color: var(--colorWhite);
	font-family: "Golos Text", sans-serif; /* all text */
	font-size: 16px; /* default size */
	font-weight: 400; 
	line-height: 1.2;
}

.wrapper-height {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1; /* растягивает пространство между хэдером и футером */
}

.wrapper {
	max-width: 1242px; /* +20px side padding */
	margin: 0 auto;
	padding: 0 10px;
}

.title {
	font-family: "Merriweather", serif;
	font-weight: 400;
	text-transform: uppercase; 
}

.title--main {
	margin: 60px 0 22px;
	font-family: Merriweather;
	font-size: 60px;
	line-height: 1.1;
}

.title--section {
	max-width: 66%;
	margin: 0 0 50px;
	font-size: 56px;
	line-height: 1.2;
}

a {
	font-family: "Golos Text", sans-serif;
	text-decoration: unset;
	line-height: normal;
	color: inherit;
	outline-style: solid;
	outline-width: 2px;
	outline-color: transparent;
	outline-offset: 10px;
	transition: all 0.75s;
}

a:focus {
	border-radius: 20px;
	outline-color: var(--colorBlack);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 14px;
	font-family: "Golos Text", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;
	color: var(--colorWhite);
	background-color: var(--colorBlackDark);
	border: 2px solid transparent;
	border-radius: 66px;
	cursor: pointer;
	transition: all 0.5s;
}

.button--transparent {
	color: var(--colorBlackDark);
	background-color: transparent;
	border: 2px solid var(--colorBlackDark);
}

.button:hover:not([disabled]) {
	color: var(--colorBlackTransparent);
	background-color: var(--colorYellow);
	border: 2px solid var(--colorYellow);
}

.button--transparent:hover:not([disabled]) {
	color: var(--colorWhite);
	background-color: var(--colorBlackDark);
	border-color: var(--colorBlackDark);
}

.button:focus {
	outline: 2px solid var(--colorBlackTransparent);
	outline-offset: 5px;
}

.button.disabled {
	opacity: 0.6;
	cursor: default;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}



@media (max-width: 1180px) {
	
	.wrapper {
		max-width: 980px;
	}
		
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 768px) {
	
	.wrapper {
		max-width: 700px;
	}
		
	.title--section {
		margin: 0 0 30px;
	}
	
}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 534px) {
	
	.wrapper {
		max-width: 95%;
	}
	
	.title--main {
		margin: 35px 0 24px;
		font-size: 36px;
	}
	
	.title--section {
		max-width: unset;
		font-size: 36px;
		line-height: 1.1;
	}
	
	.button--transparent {
		color: var(--colorBlackDark);
		background-color: var(--colorWhite);
		border: 2px solid var(--colorWhite);
	}

}
/* ↑↑↑ 534px ↑↑↑ */



@media (max-width: 375px) {

	.button {
		padding: 10px;
	}
	
}
/* ↑↑↑ 375px ↑↑↑ */



@media (max-width: 320px) {
	
	.title--section {
		font-size: 30px;
	}
	
}
/* ↑↑↑ 320px ↑↑↑ */