/* --- SUPPORT --- */

.section {
	margin-bottom: 180px;
}

.section--support {
	margin-top: 80px;
}

.support-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 64px;
}

.support-box--top {
	margin-bottom: 30px;
}

.support-box--top .support-box__item--image {
	flex-basis: 395px;
	min-width: 395px;
	flex-shrink: 0;
}

.support-box__description {
	font-family: "Merriweather", serif;
	font-size: 36px;
	line-height: 1.35;
	text-transform: uppercase;
}

.support-box__description--important {
	font-weight: 700;
	color: var(--colorOrange);
}

.support-box--bottom {
	align-items: flex-start;
	gap: 0;
}

.support-box--bottom .support-box__item--image {
	flex-basis: 530px;
	min-width: 530px;
	flex-shrink: 0;
	transform: translateX(-27px);
}

.support-box--bottom .support-box__item--description {
	margin-top: 28px;
	transform: translateX(-10px);
}

.support-box__item--description-mobile {
	display: none;
}

.support-box--bottom .support-box__description {
	margin-bottom: 42px;
}

.support-box__table {
	margin-bottom: 26px;
	font-size: 20px;
}

.support-box__table-row {
	display: flex;
	align-items: center;
}

.support-box__table-cell--term {
	display: flex;
	align-items: center;
	flex-basis: 44%;
	padding: 16px;
	padding-left: 0;
	opacity: 0.7;
	border-right: 2px solid var(--colorGrayLight);
	border-bottom: 2px solid var(--colorGrayLight);
}

.support-box__table-row:last-child .support-box__table-cell--term {
	border-bottom: none;
}

.support-box__table-cell--value {
	display: flex;
	align-items: center;
	flex-basis: 56%;
	padding: 16px;
	padding-right: 0;
	font-weight: 600;
	border-bottom: 2px solid var(--colorGrayLight);
}

.support-box__table-row:last-child .support-box__table-cell--value {
	border-bottom: none;
}

.support-box__subtitle {
	font-size: 20px;
	color: var(--colorBlue);
}

.cancel {
	margin-right: 15px;
	font-weight: 600;
	text-decoration: line-through;
	text-decoration-color: var(--colorOrange);
	text-decoration-thickness: 2px;
}



/* --- STAGES --- */

.section--stages {
	margin-bottom: 225px;
}

.title-box {
	display: flex;
}

.title-box .title {
	position: relative;
}

.title-box .title::after {
	position: absolute;
	transform: translateY(10%);
	width: 250px;
	margin-left: 10px;
	content: "Будущие источники обогащения васюкинцев";
	font-family: "Golos Text", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.2;
	text-transform: none;
    color: var(--colorBlue);	
}

.section--stages .subtitle {
	display: none;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 1.2;
    text-align: unset;
    color: var(--colorBlue);   
}

.stages {
	--gap: 20px;
	--columnWidth: calc((100% - (2 * var(--gap))) / 3);
	--rowHeight: 112px;
	
	display: grid;
	grid-template-columns: repeat(3, var(--columnWidth));
	grid-template-rows: repeat(3, var(--rowHeight));
	gap: 20px;
	font-size: 20px;	
}

.stage__item {
	display: flex;
	gap: 16px;
	padding: 20px;
	background: url("../images/stage-item-background.png"), lightgray -234.21px -402.269px / 121.971% 265.886% no-repeat;
}

.stage__num {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 36px;
	width: 36px;
	height: 36px;
	font-weight: 600;
	background-color: var(--colorWhite);
	border-radius: 50%;
}

.stage__description {
	font-weight: 600;
}

.stage__item--3 {
	 grid-row: span 2;
}

.stage__item--6 {
	height: 136px;
}

.stage__item--7 {
	position: relative;
	grid-column: span 2;
	height: 136px;
}

.stage__item--7 .stage__description {
	position: relative;
	z-index: 10;
	max-width: 450px;
}

.stage__item--7::after {
	position: absolute;
	z-index: 1;
	content: "";
	top: 50%;
	transform: translateY(-70%);
	right: -60px;
	width: 401px;
	height: 235px;
	background-image: url("../images/stages-decor-image-airplan.png");
	background-repeat: no-repeat;
}

.stages-image--mobile {
	display: none;
}



/* --- PARTNERS --- */

.section--partners {
	margin-bottom: 140px;
}

.section--partners .title--section {
	margin-bottom: 55px;
}

.partner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	max-width: 394px;
	text-align: center
}

.partner__image {
	width: 320px;
	margin: 0 37px 28px;
	transition: all 0.5s;
}

.partner__link:focus {
	outline: none;
    outline-color: var(--colorBeige);
}

.partner__link:hover .partner__image {
	filter: brightness(1.15);
    transform: scale(1.05);
}

.partner__link:focus .partner__image {
	outline: 2px solid var(--colorBeige);
	outline-offset: 10px;
	border-radius: 50%;
}

.partner__name {
	margin-bottom: 6px;
	font-size: 24px;
	font-weight: 600;
}

.partner__status {
	margin-bottom: 18px;
	font-size: 20px;
	opacity: 0.6;
}

.partner .button {
	display: inline-block;
	width: auto;
	max-width: 115px;
	margin: 0 auto;
	padding: 7px 11px;
	color: var(--colorBlue);
	background-color: transparent;
	border-radius: 62px;
	border: 1px solid var(--colorBlue);
}

.partner .button:hover {
	color: var(--colorWhite);
	background-color: var(--colorBlue);
	border: 1px solid var(--colorBlue);
}

.partner .button:focus {
	outline-color: var(--colorBlue);
	border-radius: 10px;
}



@media (max-width: 1440px) {

	.section--tariff {
		padding: 32px 22px;
	}
	
}
/* ↑↑↑ 1440px ↑↑↑ */


@media (max-width: 1280px) {
	
	.stages {
		--rowHeight: auto;
	}
	
	.stage__item--6 {
		height: auto;
	}
	
	.stage__item--7 {
		height: auto;
	}
	
}
/* ↑↑↑ 1280px ↑↑↑ */



@media (max-width: 1180px) {
	
	.section {
		margin-bottom: 120px;
	}

	.support-box--bottom {
		flex-direction: column;
		align-items: center;
	}
	
	.support-box--bottom .support-box__item--image {
		transform: unset;
	}
	
	.support-box--bottom .support-box__item--description {
		transform: unset;
	}
	
	.stage__item--7 .stage__description {
		max-width: 300px;
	}
	
	.stage__item--7::after {
		transform: translateY(-100%);
	}
	
}
/* ↑↑↑ 1180px ↑↑↑ */



@media (max-width: 1024px) {
	
	.partner__image {
		width: 250px;
		margin: 0 25px 25px;
		transition: all 0.5s;
	}

}
/* ↑↑↑ 1024px ↑↑↑ */



@media (max-width: 768px) {
	
	.support-box__item--description-desktop {
		display: none;
	}
	
	.support-box__item--description-mobile {
		display: block;
	}
	
	.support-box {
		gap: 24px;
	}
	
	.support-box--top {
		flex-direction: column;
	}
	
	.support-box--top .support-box__item--image {
		flex-basis: auto;
	}
	
	.support-box__table-cell--term {
		flex-basis: 50%;
	}
	
	.support-box__table-cell--value {
		flex-basis: 50%;
	}
	
	.title-box {
		display: block;
		margin-bottom: -80px;
	}
	
	.title-box .title::after {
		display: none;
	}
	
	.section--stages .subtitle {
		display: block;
	}
	
	.stages-image--mobile {
		position: relative;
		z-index: 10;
		top: 100px;
		display: block;
		margin: 0 auto;
		object-fit: contain;
	}
	
	.stage__item {
		background: none;
	}
	
	.stage__item--7 .stage__description {
		max-width: unset;
	}
	
	.stage__item--7::after {
		display: none;
	}
	
	.support-box--bottom .support-box__item--description {
		margin-top: 0;
	}
		
}
/* ↑↑↑ 768px ↑↑↑ */



@media (max-width: 534px) {
	
	.marquee {
		padding: 12px 10px;
	}

	.marquee__item {
		font-size: 16px;
	}

	.marquee__item--divider {
		transform: translateY(50%);
	}
	
	.section--support {
		margin-top: 60px;
	}
	
	.support-box__description {
		font-size: 28px;
	}

	.support-box__table-row {
		align-items: flex-start;
		flex-direction: column;
		margin-top: 16px;
		border-bottom: 2px solid var(--colorGrayLight);
	}
	
	.support-box__table-row:last-child {
		border-bottom: unset;
	}

	.support-box__table-cell--term {
		padding: 0;
		margin-bottom: 12px;
		border-right: unset;
		border-bottom: unset;
	}

	.support-box__table-cell--value {
		padding: 0;
		margin-bottom: 16px;
		border-bottom: unset;
	}
	
	.support-box__subtitle {
		font-size: 18px;
	}
	
	.support-box--top .support-box__item--image {
		flex-basis: unset;
		min-width: unset;
	}
	
	.support-box--bottom .support-box__item--image {
		flex-basis: unset;
		min-width: unset;
	}
	
	.section--stages .subtitle {
		font-size: 18px;
	}
	
	.title-box {
		margin-bottom: -50px;
	}
	
	.stages-image--mobile {
		top: 40px;
	}
	
	.stage__description {
		font-size: 18px;
	}
	
	.section--partners .title--section {
		margin-bottom: 40px;
	}

}
/* ↑↑↑ 534px ↑↑↑ */



@media (max-width: 430px) {
	
	.partner__image {
		width: 250px;
	}
	
}
/* ↑↑↑ 430px ↑↑↑ */



@media (max-width: 375px) {
	
	.subtitle {
		margin-bottom: 32px;
		text-align: left;
	}
	
	.section--support {
		margin-top: 42px;
	}	
	
	.support-box--top {
		margin-bottom: 50px;
	}
	
	.support-box__image {
		transform: scale(1.12);
	}
	
	.support-box--bottom .support-box__item--image {
		margin-bottom: 20px;
	}
	
	.title-box .title {
		margin-bottom: 12px;
	}
	
	.stages-image--mobile {
		top: 70px;
	}
	
	.stage__item {
		padding: 0;
	}
	
	.partner__image {
		margin: 0 25px 20px;
	}
	
	.partner__status {
		margin-bottom: 20px;
	}
	
}
/* ↑↑↑ 375px ↑↑↑ */



@media (max-width: 320px) {
	
	.partner__image {
		width: 220px;
	}
	
	.partner__name {
		font-size: 20px;
	}

	.partner__status {
		font-size: 18px;
	}

}
/* ↑↑↑ 320px ↑↑↑ */