:root {
	--colorBlack: #313131;
	--colorBlackDark: #1f1f1f;
	--colorBlackTransparent: rgba(31, 31, 31, 0.8);
	
	--colorWhite: #ffffff;
	--colorWhiteTransparent: rgba(255, 255, 255, 0.8);
	
	--colorOrange: #f54932;
	
	--colorBeige: #e9ded4;
	
	--colorBlue: #3057a2;
	
	--colorGrayLight: #d0d0d0;
	--colorGrayDark: #595653;
	--colorGrayAdd: #d9d9d9;
	--colorYellow: #fbce51;
}